---

{% raw %}
ansible_connection: local
kolla_ansible_target_venv: "{{ lookup('env', 'KAYOBE_CONFIG_PATH') }}/../../../../venvs/kolla-ansible/"
ansible_python_interpreter: /usr/bin/python3
{% endraw %}

