{% from "macros.j2" import mappings with context %}
---

{% raw %}
ansible_connection: local
kolla_ansible_target_venv: "{{ lookup('env', 'KAYOBE_CONFIG_PATH') }}/../../../../venvs/kolla-ansible/"
ansible_python_intepreter: "{{ kolla_ansible_target_venv | realpath }}/bin/python3"
{% endraw %}

{% for interface in ip_mappings | mappings2interfaces %}
ansible_{{ interface }}: {{ interface | kolla_interface_string }}

{% endfor %}

{{ mappings() }}

fluentd_binary: td-agent
fluentd_version: 0.14


